<template>
<div class="level-item" style="flex-direction: column; align-items: left; margin-top: 180px;">
  <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs" v-for="(combo, comboName) in allCombos">
    <span class="combo-title" :class="{finishedComboTitle: currentCombos[comboName] && currentCombos[comboName].isFinished}">{{ comboName }}
      <span class="combo-description"> {{ combo.description }} </span>
    </span>
    <ul>
      <li class="ability-tile" v-for="highlight in getHighlightable(comboName)">
        <div class="ability">
            <span class="ability-text">{{getAbilityText(highlight)}}</span>
            <img class="combo-image" v-bind:src="getSpellURL(highlight.name)">
            <img class="combo-image-stacked activated-skill" v-bind:src="getSpellURL(highlight.name)">
        </div>
      </li>
      <li class="ability-tile" v-for="nonHighlighted in nonhighlightedCombos[comboName]">
        <div class="ability">
            <span class="ability-text">{{getAbilityText(nonHighlighted)}}</span>
            <img class="combo-image" v-bind:src="getSpellURL(nonHighlighted.name)">
        </div>
      </li>
    </ul>
  </nav>
</div>
</template>

<script>
export default {
  name: 'Realtime',
  data () {
    return {
      pinnedCombos: [],
      currentCombos: [],
      currentChampion: 'Talon',
    }
  },
  computed: {
    nonhighlightedCombos() {
      let nonHighlighted = {}

      Object.keys(window.Combos[this.currentChampion].combos).forEach(comboKey => {
        let currentSteps = this.currentCombos[comboKey] ? this.currentCombos[comboKey].highlight : []
        let definitionSteps = window.Combos[this.currentChampion].combos[comboKey].steps

        nonHighlighted[comboKey] = []
        if (currentSteps.length < definitionSteps.length) {
          for (let i = currentSteps.length; i < definitionSteps.length; i++) {
            nonHighlighted[comboKey].push(definitionSteps[i])
          }
        }
      })

      return nonHighlighted
    },
    allCombos() {
      return window.Combos[this.currentChampion].combos
    }
  },
  mounted() {
    if (window.overwolf) {
      window.overwolf.games.events.getInfo(info => {
        this.currentChampion = info.res.summoner_info.champion
        console.log("CURRENT CHAMPION: " + this.currentChampion);
        console.log(info);
      })
    }

    window.EventBus.$on('combos', combos => {
      console.log('Received combos', combos)
      this.currentCombos = combos
    })
  },
  methods : {
    getSpellURL(spell) {
      if (spell.type == "AUTO_ATTACK") { return window.Spells[this.currentChampion]["AUTO_ATTACK"]}
      return window.Spells[this.currentChampion][spell]
    },
    getAbilityText(ability) {
      if (ability.type == "AUTO_ATTACK" || ability.type == "SUMMONER_SPELL") {
        return "";
      }
      return ability.name;
    },
    getHighlightable(name) {
      return this.currentCombos[name] ? this.currentCombos[name].highlight : []
    }
  },
}
</script>

<style>
.ability {
  position: relative;

}

.ability-text {
  position: absolute;
  left: 0.2em;
  top: 15px;
  color: white;
  z-index: 20;
  font-size: 14px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  pointer-events: none;
}

.combo-image {
  opacity: 0.8;
  border-radius: 7px;
  width: 36px;
  height: 36px;
  z-index: 10;
}

.combo-image-stacked {
  opacity: 0.8;
  border-radius: 7px;
  width: 36px;
  height: 36px;
  z-index: 2;
  position: absolute;
  left: 0px;
  animation: fadein .200s;
}

.activated-skill {
  border: 2px solid #dadada;
  border-radius: 7px;
  outline: none;
  border-color: #ffdf00;
  box-shadow: 0 0 5px #ffdf00;
  z-index: 0;
}

.finishedComboTitle {
  color: red !important;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.breadcrumb {
  flex-direction: column;
}

.combo-title {
  padding-top: 0px !important;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.combo-title:hover .combo-description {
  visibility: visible;
}

.combo-description {
  font-size: 14px;
  font-weight: normal;
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px 7px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.ability-tile {
  padding-right: 5px;
}

.breadcrumb.has-arrow-separator li + li::before {
  content: "\02192";
  padding-right: 5px; /* same value as for ability-tiel */
}
</style>
