<template>
<div class="level-item" style="flex-direction: column">
  <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs" v-for="(combo, comboName) in currentCombos">
      <span class="combo-title">{{ combo.title }}</span>
      <ul>
        <li class="ability-tile highlighted" v-for="highlight in combo.highlights">
          <span>{{ highlight.name}}</span>
        </li>
        <li class="ability-tile" v-for="nonHighlighted in nonhighlightedCombos[comboName]">
          <span>{{ nonHighlighted.name }}</span>
        </li>
      </ul>
  </nav>

<span class="combo-title">Title #1</span>
<nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs" style="flex-direction: row">
    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input type="checkbox">
        </label>
      </div>
    </div>
    <ul>
      <li class="ability-tile"><span>Q</span></li>
      <li class="ability-tile"><span>W</span></li>
      <li class="ability-tile"><span>E</span></li>
    </ul>
</nav>
    
<span class="combo-title">Title #2</span>
<nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs" style="flex-direction: row">
    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input type="checkbox">
        </label>
      </div>
    </div>
    <ul>

      <li class="ability-tile">
        <div class="ability">
            <span class="ability-text">AA</span>
            <img class="combo-image activated-skill" v-bind:src="getSpellURL('AA')">
        </div>
      </li>

      <li class="ability-tile">
        <div class="ability">
            <span class="ability-text">W</span>
            <img class="combo-image activated-skill" v-bind:src="getSpellURL('W')">
        </div>
      </li>
      <li class="ability-tile">
        <div class="ability">
            <span class="ability-text">E</span>
            <img class="combo-image activated-skill" v-bind:src="getSpellURL('E')">
        </div>
      </li>
    </ul>
</nav>


</div>
</template>

<script>
export default {
  name: 'Preferences',
  data () {
    return {
      preferences: [],
    }
  },
  methods : {
    getSpellURL(spell) {
      return 'http://ddragon.leagueoflegends.com/cdn/7.21.1/img/spell/' + window.Spells[spell]
    }
  },
}
</script>

<style>
.ability {
  position: relative;

}

.ability-text {
  position: absolute;
  left: 1.05em;
  top: 9px;
  color: white;
  z-index: 1;
  font-size: 14px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.combo-image {
  opacity: 0.8;
  width: 26px;
  height: 26px;
  box-shadow: 3px 2px 3px 0px rgba(0,0,0,1);
}

.activated-skill {
    border: 2px solid #dadada;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 5px #9ecaed;
}

.breadcrumb {
  flex-direction: column;
}

.combo-title {
  padding-top: 20px;
}

.ability-tile {
  padding-right: 5px;
}

.breadcrumb.has-arrow-separator li + li::before {
  content: "\02192";
  padding-right: 5px; /* same value as for ability-title */
}
</style>
