<template>
  <div id="timeline">
    <template>
      <div v-for="(item, index) in queue" :class="['ability-tile', 'ability-tile-wrapper', queue.length - 1 === index ? 'selected' : '', item]"
      :style="{ opacity: 0.6 + 0.15 * (index+1) }">
        <div class="ability">
            <span class="ability-text">{{getAbilityText(item)}}</span>
            <img class="combo-image activated-skill" v-bind:src="getSpellURL(item.name)">
        </div>
      </div>
      </li>
    </template>
  </div>
</template>

<script>
export default {
  name: 'Timeline',
  data () {
    return {
      queue: [],
      maxQueueSize: 5,
      currentChampion: 'Talon',
    }
  },
  mounted() {
    if (window.overwolf) {
      window.overwolf.games.events.getInfo(info => {
        this.currentChampion = info.res.summoner_info.champion
      })
    }

    window.EventBus.$on('input', input => {
      console.log('Received input', input)
      if (input) {
        if (this.queue.length === this.maxQueueSize) {
          this.queue.shift() // pop from front
        }
        this.queue.push(input)
      }

    })
  },
  methods : {
    getSpellURL(spell) {
      if (spell.type == "AUTO_ATTACK") { return window.Spells[this.currentChampion]["AUTO_ATTACK"]}
      return window.Spells[this.currentChampion][spell]
    },
    getAbilityText(ability) {
      if (ability.type == "AUTO_ATTACK" || ability.type == "SUMMONER_SPELL") {
        return "";
      }
      return ability.name;
    }
  },
}
</script>


<style>
.ability-tile-wrapper {
  display: inline-block;
  padding-left: 20px;
}

#timeline {
  padding: 20px;
  float: right;
}
</style>
