<template>
  <div>
    <div class="container is-fluid" v-show="isVisible">
      <nav class="level">
        <!-- Left side -->
        <div class="level-left cheatsheet-padding">
          <Cheatsheet />
        </div>
      </nav>
    </div>

    <div id="bottom-container" v-show="isVisible">
      <div id="bottom">
        <Timeline />
      </div>
    </div>
  </div>
</template>

<script>
import Cheatsheet from './components/Cheatsheet'
import Timeline from './components/Timeline'

export default {
  name: 'app',
  data() {
    return {
      isVisible: true,
    }
  },
  mounted() {
    document.addEventListener('keydown', key => {
      if (!window.overwolf) {
        EventBus.$emit('input', {
          type: 'SPELL', name: key.key.toUpperCase(), timestamp: Date.now(),
        })
      }

      if (key.key === "~") {
        this.toggleVisibility()
      }
    })
  },
  methods: {
    toggleVisibility() {
      this.isVisible = !this.isVisible
    }
  },
  components: {
    Cheatsheet,
    Timeline
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0,0,0,0);
}

#bottom-container {
  position: absolute;
  bottom: 200px;
  width: 100%;
}

#bottom {
  margin: 0 auto;
  width: 400px;
}

.cheatsheet-padding {
  padding-left: 120px;
}
</style>
